<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Seg</display-name>
	<welcome-file-list>
		<welcome-file>login.faces</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.faces</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<context-param>
		<param-name>org.richfaces.SKIN</param-name>
		<param-value>ruby</param-value>
	</context-param>
	<filter>
		<display-name>RichFaces Filter</display-name>
		<filter-name>richfaces</filter-name>
		<filter-class>org.ajax4jsf.Filter</filter-class>
		<init-param>
			<param-name>createTempFiles</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>maxRequestSize</param-name>
			<param-value>20000000</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>richfaces</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	<!-- <security-role> <description>Papel Gerente</description> <role-name>gerente</role-name> 
		</security-role> <security-role> <description>Papel Funcionario</description> 
		<role-name>funcionario</role-name> </security-role> <security-role> <description>Papel 
		Administrador</description> <role-name>administrador</role-name> </security-role> 
		<security-constraint> <web-resource-collection> <web-resource-name>Gerente</web-resource-name> 
		<description>Seguranca da Pagina Cadastrar</description> <url-pattern>/GERENTE</url-pattern> 
		<http-method>GET</http-method> <http-method>POST</http-method> </web-resource-collection> 
		<auth-constraint> <description>Permissoes para Gerente</description> <role-name>gerente</role-name> 
		</auth-constraint> </security-constraint> <security-constraint> <web-resource-collection> 
		<web-resource-name>Administrador</web-resource-name> <description>Seguranca 
		da Pagina Cadastrar</description> <url-pattern>/GERENTE</url-pattern> <http-method>GET</http-method> 
		<http-method>POST</http-method> </web-resource-collection> <auth-constraint> 
		<description>Permissoes para Gerente</description> <role-name>gerente</role-name> 
		</auth-constraint> </security-constraint> -->

	<!-- Protected Areas -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Cadastrar Funcionario</web-resource-name>
			<url-pattern>/formFuncionario.*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>administrador</role-name>
			<role-name>gerente</role-name>
			<role-name>funcionario</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Promover Funcionario</web-resource-name>
			<url-pattern>/formPromoverFuncionario.*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>gerente</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Upload Arquivo</web-resource-name>
			<url-pattern>/uploadArquivo.*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>gerente</role-name>
			<role-name>funcionario</role-name>
		</auth-constraint>
	</security-constraint>
	

	<!-- Validation By Form -->
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login.faces</form-login-page>
			<form-error-page>/login.faces</form-error-page>
		</form-login-config>
	</login-config>

	<!-- Allowed Roles -->
	<security-role>
		<role-name>administrador</role-name>
	</security-role>
	<security-role>
		<role-name>funcionario</role-name>
	</security-role>
	<security-role>
		<role-name>gerente</role-name>
	</security-role>
 
    <!-- Filter to get the user name and work with it -->
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>br.com.fiap.handler.HandlerLogin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>